@using EMarket.Core.Application.ViewModels.Advertises

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EMarket</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EMarket.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3" style="height: 5rem !important">
            <div class="container-fluid d-flex align-items-center" style="height: 3.5rem !important">
                <a class="navbar-brand " asp-controller="Home" asp-action="Index">EMarket</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1 d-flex align-items-center" style="height: 3.5rem !important">
                        <li class="nav-item  d-flex align-items-center">
                            <a class="nav-link text-white" asp-controller="Advertises" asp-action="Index">Anuncios</a>
                        </li>
                        <li class="nav-item  d-flex align-items-center">
                            <a class="nav-link text-white" asp-controller="Category" asp-action="Index">Categorias</a>
                        </li>
                        <div class="d-flex align-items-center ms-3 search-div " style="">

                            <div class="d-flex w-100 h-100">
                                <form class="d-flex w-100 h-100" asp-action="Index" asp-controller="Home">

                                    <input class="form-check h-100 w-100 mySearchInput" value="" name="AdvertiseName" />

                                    <button class="btn h-100 d-flex align-items-center search-btn" type="submit">
                                        <i class="fa-solid fa-magnifying-glass search-icon"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid col-12">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - EMarket - @*<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/5bcaf03d9b.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
